body {
  overflow: hidden;
}

.App-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header button,
.image-uploader {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  background: none;
  font-size: 14px;
}

.App-header_toolbar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input-file {
  display: none;
}
